@section styles{
        <!-- DataTables -->
        <link href="~/lib/datatables/dataTables.bootstrap5.min.css" rel="stylesheet" type="text/css" />
        <link href="~/lib/datatables/buttons.bootstrap5.min.css" rel="stylesheet" type="text/css" />
        <!-- Responsive datatable examples -->
        <link href="~/lib/datatables/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" /> 
}

<div class="container-fluid">
    <!-- Page-Title -->
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <div class="row">
                    <div class="col">
                        <h4 class="page-title">API Tasks</h4>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0);">API Manager</a></li>
                            <li class="breadcrumb-item"><a href="javascript:void(0);">Tasks</a></li>
                            <li class="breadcrumb-item active">Tasks</li>
                        </ol>
                    </div><!--end col-->
                    <div class="col-auto align-self-center">
                        <a href="#" class="btn btn-sm btn-outline-primary" id="Dash_Date">
                            <span class="day-name" id="Day_Name">Today:</span>&nbsp;
                            <span class="" id="Select_date">Jan 11</span>
                            <i  class="fas fa-calendar align-self-center icon-xs ms-1"></i>
                        </a>
                        <a asp-action="Create" asp-controller="Task" class="btn btn-sm btn-outline-primary">
                            New
                            <i class="fas fa-plus align-self-center icon-xs"></i>
                        </a>
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end page-title-box-->
        </div><!--end col-->
    </div><!--end row-->
    <!-- end page title end breadcrumb -->
    <div class="row">
        <div class="col-12">
            <div class="table-responsive">
                <table id="datatable" class="table table-bordered">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Title</th>
                            <th>Enabled</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div> <!-- end col -->
    </div> <!-- end row -->

</div><!-- container -->

@section scripts{
    @using Microsoft.Extensions.Configuration
    @inject IConfiguration Configuration
    <!-- Required datatable js -->
    <script src="~/lib/datatables/jquery.dataTables.min.js"></script>
    <script>
        const endpointUrl = @Configuration["AppSettings:EndpointUrl"];
    </script>
    <script src="~/js/apps/tasks/index.js"></script>
}