@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome at the API Task Manager</h1>
    

    <button class="btn btn-primary" name="runBtn" data-id="4A652603-5AB5-403A-872D-ACEC009EE43F">Run</button>
</div>

@section Scripts {
    <script src="~/lib/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/messagebroker.js"></script>
}
