<!DOCTYPE html>
<html data-theme-mode="dark" lang="en">
<!--begin::Head-->
<head>
	<base href="" />
	<title>API Manager</title>
	<meta charset="utf-8" />
	<meta name="description" content="API Manager - Tool for managing API tasks" />
	<meta name="keywords" content="api, task, management, management" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta property="og:locale" content="en_US" />
	<meta property="og:type" content="article" />
	<meta property="og:title" content="API Manager - Tool for managing API tasks" />
	<meta property="og:url" content="https://apimanager.zwd.deeekhoorn.com" />
	<meta property="og:site_name" content="API Manager" />
	<link rel="shortcut icon" href="~/assets/media/logos/favicon.ico" />
	<!--begin::Fonts(mandatory for all pages)-->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:300,400,500,600,700" />
	<!--end::Fonts-->
	<!--begin::Vendor Stylesheets(used for this page only)-->
	@await RenderSectionAsync("Styles", required: false)
	<!--end::Vendor Stylesheets-->
	<!--begin::Global Stylesheets Bundle(mandatory for all pages)-->
	<link href="~/assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
	<link href="~/assets/css/style.bundle.css" rel="stylesheet" type="text/css" />
	<!--end::Global Stylesheets Bundle-->
</head>
<!--end::Head-->
<!--begin::Body-->
<body id="kt_app_body" data-kt-app-page-loading-enabled="true" data-kt-app-page-loading="on" data-kt-app-layout="dark-header" data-kt-app-header-fixed="true" data-kt-app-toolbar-enabled="true" class="app-default">
	<partial name="partials/theme-mode/_init" />
	<partial name="layout/partials/_page-loader" />

	<!--begin::App-->
	<div class="d-flex flex-column flex-root app-root" id="kt_app_root">
		<!--begin::Page-->
		<div class="app-page flex-column flex-column-fluid" id="kt_app_page">
			<partial name="layout/partials/_header" />
			<!--begin::Wrapper-->
			<div class="app-wrapper flex-column flex-row-fluid" id="kt_app_wrapper">
				<!--begin::Main-->
				<div class="app-main flex-column flex-row-fluid" id="kt_app_main">
					<!--begin::Content wrapper-->
					<div class="d-flex flex-column flex-column-fluid">
						<partial name="layout/partials/_toolbar" />
						<!--begin::Content-->
						<div id="kt_app_content" class="app-content flex-column-fluid">
							<!--begin::Content container-->
							<div id="kt_app_content_container" class="app-container container-fluid">

							@RenderBody()

							</div>
							<!--end::Content container-->
						</div>
						<!--end::Content-->
					</div>
					<!--end::Content wrapper-->
				<!--layout-partial:layout/partials/_footer.html-->
				</div>
				<!--end:::Main-->
			</div>
			<!--end::Wrapper-->
		</div>
		<!--end::Page-->
	</div>
	<!--end::App-->
	<!--layout-partial:partials/_drawers.html-->

	<!--layout-partial:partials/_scrolltop.html-->
	<!--begin::Modals-->
	<!--layout-partial:partials/modals/_upgrade-plan.html-->
	<!--layout-partial:partials/modals/create-campaign/_main.html-->
	<!--layout-partial:partials/modals/users-search/_main.html-->
	<!--layout-partial:partials/modals/_invite-friends.html-->
	<!--end::Modals-->
	<!--begin::Javascript-->
	<script>var hostUrl = "assets/";</script>
	<!--begin::Global Javascript Bundle(mandatory for all pages)-->
	<script src="~/assets/plugins/global/plugins.bundle.js"></script>
	<script src="~/assets/js/scripts.bundle.js"></script>
	<!--end::Global Javascript Bundle-->
	<!--begin::Vendors Javascript(used for this page only)-->
	@await RenderSectionAsync("Scripts", required: false)
	<!--end::Vendors Javascript-->
	<!--end::Javascript-->
</body>
<!--end::Body-->
</html>