<div class="modal fade" id="modal_add_task" tabindex="-1">
    <div class="modal-dialog modal-xl">
        <form asp-controller="Task" asp-action="Create" id="addTaskForm" method="post">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Add Task</h3>
                    <!--begin::Close-->
                    <div class="btn-active-icon-danger btn-sm btn-active-light-primary ms-2" data-kt-tasks-modal-action="close" aria-label="Close">
                        <!--begin::Svg Icon | path: icons/duotune/arrows/arr061.svg-->
                        <span class="svg-icon svg-icon-1">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)" fill="currentColor" />
                                <rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)" fill="currentColor" />
                            </svg>
                        </span>
                        <!--end::Svg Icon-->
                    </div>
                    <!--end::Close-->
                </div>

                <div class="modal-body">
                    <ul class="nav nav-tabs nav-line-tabs mb-5 fs-6">
                        <li class="nav-item">
                            <a class="nav-link active" data-bs-toggle="tab" href="#tab_general">General</a>
                        </li>
                    </ul>

                    <div class="tab-content" id="tabTaskContent">
                        <div class="tab-pane fade show active" id="tab_general" role="tabpanel">
                            <partial name="~/Views/Pages/Task/partials/_general.cshtml" />
                        </div>

                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-kt-tasks-modal-action="cancel">Cancel</button>
                    <button type="button" class="btn btn-primary" data-kt-tasks-modal-action="submit">Save Task</button>
                </div>
            </div>
        </form>
    </div>
</div>
