@model ApiManager.Models.TaskViewModel

<div class="fv-row mb-7">
    <label asp-for="Title" class="required fw-semibold fs-6 mb-2"></label>
    <input asp-for="Title" class="form-control">
</div>

<div class="fv-row mb-7">
    <label for="HostName" class="fw-semibold fs-6 mb-2">Hostname</label>
    <select class="form-select form-select-solid fw-bold select2-hidden-accessible" data-kt-select2="true" data-kt-task-table-filter="scheduler" asp-for="SchedulerId" asp-items="Model.Schedulers" data-task-table-filter="scheduler" data-hide-search="true"></select>
</div>

<div class="mb-10">
    <div class="form-check form-check-custom form-check-solid">
        <input asp-for="Enabled" class="form-check-input" type="checkbox"/>
        <label asp-for="Enabled" class="form-check-label"></label>
    </div>
</div>
