<!--begin::Engage widget 11-->
<div class="card card-flush h-xl-100" style="background-color: #202B46; background-image:url('assets/media/svg/shapes/widget-bg-2.png')" data-theme="light">
	<!--begin::Body-->
	<div class="card-body d-flex flex-column justify-content-between mt-6 bgi-no-repeat bgi-size-cover bgi-position-x-center">
		<!--begin::Wrapper-->
		<div class="mb-10">
			<!--begin::Title-->
			<div class="fs-1 fw-bold text-white text-center mb-9">
			<span class="me-2">Analyse Your 
			<br />
			<span class="position-relative d-inline-block">
				<a href="?page=pages/user-profile/overview" class="text-success opacity-75-hover">Infrastructure</a>
				<!--begin::Separator-->
				<span class="position-absolute opacity-25 bottom-0 start-0 border-4 border-success border-bottom w-100"></span>
				<!--end::Separator-->
			</span></span>with Keen</div>
			<!--end::Title-->
			<!--begin::Action-->
			<div class="text-center">
				<a href='#' class="btn btn-sm btn-color-white bg-body bg-opacity-15 bg-hover-opacity-25 fw-bold fs-7" data-bs-toggle="modal" data-bs-target="#kt_modal_upgrade_plan">Get Started</a>
			</div>
			<!--begin::Action-->
		</div>
		<!--begin::Wrapper-->
		<!--begin::Illustration-->
		<img class="mx-auto h-150px h-lg-200px mb-11" src="assets/media/svg/illustrations/sigma/illustration-realestate.svg" alt="" />
		<!--end::Illustration-->
	</div>
	<!--end::Body-->
</div>
<!--end::Engage widget 11-->