@model ApiManager.Models.MonitorViewModel

@{
    ViewData["Title"] = "Monitor";
}

@section styles {
        <link rel="stylesheet" href="~/assets/plugins/custom/datatables/datatables.bundle.css" />
}

<!--begin::Card-->
<div class="card">
    <!--begin::Card header-->
    <div class="card-header border-0 pt-6">
        <div class="card-title">

        </div>
        <div class="card-toolbar">
            <label for="hostName" class="visually-hidden">Hostname</label>
            <select class="form-select form-select-solid fw-bold" asp-for="SchedulerId" asp-items="Model.Schedulers" data-monitor-table-filter="scheduler" data-hide-search="true"></select>
        </div>
    </div>
    <!--end::Card header-->
    <!--begin::Card body-->
    <div class="card-body py-4">
        <!--begin::Table-->
        <table class="table align-middle table-row-dashed fs-6 gy-5" id="taskTable">
            <!--begin::Table head-->
            <tr class="text-start text-muted fw-bold fs-7 text-uppercase gs-0">
                <th>Task</th>
                <th>Enabled</th>
                <th>#Queued</th>
                <th>Last Run Time</th>
                <th>Last Run Result</th>
                <th>Actions</th>
            </tr>
            <!--end::Table head-->
        </table>
        <!--end::Table-->
    </div>
    <!--end::Card body-->
</div>
<!--end::Card-->

@section scripts{
    <!-- Required datatable js -->
    <script src="~/assets/plugins/custom/datatables/datatables.bundle.js"></script>

    <script src="~/assets//plugins/custom/signalr/signalr.bundle.js"></script>
    <script src="~/assets/js/custom/apps/monitor/list.js"></script>
}